body, html {
    margin: 0;
    padding: 0;
    height: 100%;  /* Ensure the full height of the viewport is used */
    width: 100%;   /* Ensure the full width of the viewport is used */
    overflow: hidden; /* Hide scrollbars if the content exceeds the viewport */
}

.container {
    width: 100%;
    height: 100%;
    background-color: #39ff14; /* Neon green color */
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-image {
    max-width: 300px; /* Adjust as needed */
    max-height: 300px; /* Adjust as needed */
    z-index: 10; /* Ensure the image is above the background */
}
